.flashcard{
    width:90%;
    margin: 1% auto;
}

.flashcard .top{
  background-color: #DFDADA;
}

.flashcard .bottom{
  padding: 5%;
  background-color: #FDFAFA;
}

.flashcard h1{
  text-align:center;
}

.flashcard .usage{
  font-style: italic;
}
